---

global:
  smtp_smarthost: 'smtp.gmail.com:587'
  smtp_from: '{{ vault_gmail_address }}'
  smtp_auth_username: '{{ vault_gmail_address }}'
  smtp_auth_password: '{{ vault_gmail_app_password }}'
  smtp_require_tls: true

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  receiver: 'email-alert'

receivers:
  - name: 'email-alert'
    email_configs:
      - to: '{{ vault_gmail_address }}'
        send_resolved: true
