---

global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - "alert_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'ubuntu-target'
    static_configs:
      - targets: ['{{ ubuntu_target_ip }}:9100']
        labels:
          server: 'ubuntu-target'

  - job_name: 'centos-target'
    static_configs:
      - targets: ['{{ centos_target_ip }}:9100']
        labels:
          server: 'centos-target'

  - job_name: 'control-node'
    static_configs:
      - targets: ['node-exporter:9100']
        labels:
          server: 'control-node'
