<!DOCTYPE html>
<html>
<head>
    <title>{{ nginx_server_name }}</title>
</head>
<body>
    <h1>Welcome to {{ nginx_server_name }}</h1>
    <p>Deployed using Ansible Role with Template & Handler</p>
</body>
</html>
